/* Active tab styling */
.active-tab {
    color: #073741;
    border-bottom: 2px solid #FA8232;
    font-weight: 600;
  }
  
  /* General styling */
  .main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f5f5f5;
  }
  
  .form-container {
    width: 424px;
    height: 504px;
    border-radius: 4px;
    background-color: #FFFFFF;
    box-shadow: 0px 8px 40px 0px #0000001F;
    border: 1px solid #E4E7E9;
  }
  /* Specific height for Sign Up form */
.sign-up-form {
    height: 809px; /* Set height to 809px for Sign Up */
}

  .form-header {
    display: flex;
    margin-bottom: 20px;
    height: 60px;
    border-bottom: 1px solid #E4E7E9;
    text-align: center;
  }
  
  .sign-in, .sign-up {
    width: 212px;
    font-family: 'Public Sans', sans-serif;
    font-size: 20px;
    padding: 20px 0;
    cursor: pointer;
    color: #77878F; /* Default inactive color */
    font-family: Public Sans;
    font-weight: 600;

  }
  
  .sign-in.active-tab, .sign-up.active-tab {
    font-weight: bold;
    color:#191C1F;
    border-bottom: 2px solid #FA8232;
    font-family: Public Sans;
font-size: 20px;
font-weight: 600;

  }
  
  .input-container {
    margin-bottom: 15px;
    position: relative;
    padding: 0px 30px;
  }
  
  .input-label {
    font-family: 'Public Sans', sans-serif;
    font-size: 14px;
    color: #191C1F;
    font-weight: 400;
line-height: 20px;
text-align: left;

  }
  
  .input-field {
    width: 100%;
    padding: 10px;
    border-radius: 2px;
    border: 1px solid #E4E7E9;
    margin-top: 10px;
    font-size: 16px;

  }
  
  .password-toggle {
    position: absolute;
    right: 40px;
    margin-top: 23px;
    cursor: pointer;
    font-size: 18px;
  }
  
  .forgot-password {
    position: absolute;
     right: 30px;
     top: 18%;
     transform: translateY(-50%);
     text-decoration: none;
      padding: 20px 0px;

      font-family: Public Sans;
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
      text-align: left;
      color: #073741;

  }
  
  .sign-in-button {
    width: 362px;
    height: 48px;
    margin: 20px 30px;
    margin-bottom:10px;
    background-color: #0B5D51;
    color: #FFFFFF;
    border-radius: 2px;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0.012em;   
  }
  
  .arrow-icon-sg {
    position: absolute;
    right: 125px;
    color: #FFFFFF;
    width: 20px;
    height: 20px;
  }
  .arrow-icon {
    position: absolute;
    right: 123px;
    color: #FFFFFF;
    width: 20px;
    height: 20px;
  }
  .or-container {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 10px 30px;
    
  }
  
  .or-container::before, .or-container::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #E4E7E9;
    box-shadow: 0px 8px 40px 0px #0000001F;
  }
  .or-container::before {
    margin-right: 8px;
}

.or-container::after {
    margin-left: 8px;
}

  
  .or-text {
    font-size: 14px;
    color: #77878F;
    background: #FFFFFF;
    padding: 0 2px;
  }
  
  .social-login-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* padding: 0 32px; */
  }
  
  .social-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 1px solid #0B5D51;
    border-radius: 2px;
    font-size: 16px;
    cursor: pointer;
    position: relative;
    width: 363px;
/* height: 44px;
gap: 10px; */
margin:0px 32px;
margin-left: 29px;

  }
  .social-button img.social-logo {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 12px;
    left: 16px;
  
}

  .social-logo, .social-icon {
    position: absolute;
    left: 16px;
    
}

  .social-icon {
    color: black;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 12px;
    left: 16px;

  }
  
  .google-login {
    background-color: white;
    color: #475156;
    font-family: Public Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    
  }
  
  .apple-login {
    background-color: white;
    color: #475156;
    font-family: Public Sans;
font-size: 14px;
font-weight: 400;
line-height: 20px;
text-align: center;


  }
  .checkbox{
    width: 21px;
    height: 19px;
    background-color: #0B5D51;
    color: #FFFFFF;
  }
  
  .terms {
    display: flex;
    align-items: center;
    padding: 0 30px;
  }
  
  .terms-label {
    margin-left: 10px;
    font-size: 14px;
    color: #475156;
  }
  .terms-label a{
    color: #2DA5F3;
  }